module;
#include <fmt/format.h>

export module {{ModuleName}};

export int add(int a, int b) { 
    return a + b; 
}

export void greet() { 
    fmt::println("Hello from the {{ModuleName}} module!"); 
}
